{% extends 'base.html' %}

    <title>EMAIL DE REINITIALISATION</title>
</head>
<body>
    <header></header>
    <nav><a href="{% url 'home' %}">Retour à la page d'accueil</a></nav>
    <main>
        <section>
            
        
            <!-- custom_password_reset_email.html -->
            {% autoescape off %}
            Bonjour,

            Veuillez cliquer sur le lien ci-dessous pour réinitialiser votre mot de passe :

            {{ protocol }}://{{ domain }}{% url 'monapp:password_reset_confirm' uidb64=uid token=token %}

            Si vous n'avez pas demandé la réinitialisation de votre mot de passe, veuillez ignorer cet email.

            Merci,
            Votre équipe
            {% endautoescape %}


        </section>
    </main>
    <footer></footer>
</body>
</html>