{% extends 'base.html' %}

    <title>PASSWORD RESET</title>
</head>
<body>
    <header></header>
    <nav><a href="{% url 'home' %}">Retour à la page d'accueil</a></nav>
    <main>
        <section>
            
        
            <h2>REINITIALISATION DE VOTRE MOT DE PASSE</h2>
            <form method="post">
              {% csrf_token %}
              {{ form.email.label_tag }} {{ form.email }}
              <button type="submit">Envoyer l'email de réinitialisation</button>
            </form>

        </section>
    </main>
    <footer></footer>
</body>
</html>