
{% extends 'base.html' %}

    <title>REINITIALISER|PASSWORD</title>
</head>
<body>
    <header></header>
    <nav><a href="{% url 'home' %}">Retour à la page d'accueil</a></nav>
    <main>
        <section>
            <h2>Mot de Passe Réinitialisé</h2>
            <p>Votre mot de passe a été réinitialisé avec succès.</p>
            <a href="{% url 'login' %}">Se connecter avec le nouveau mot de passe</a>


        </section>
    </main>
    <footer></footer>
</body>
</html>